/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #F5EDCE;
  --vt-c-white-soft: hsla(47, 66%, 89%, 0.2);
  --vt-c-white-bis: #89C4E1;
  --vt-c-white-bis-soft: hsla(200, 59%, 71%, 0.30);
  --vt-c-black: #58287F;
  --vt-c-black-soft: hsla(273, 52%, 33%, 0.2);
  --vt-c-black-bis: #1A0000;
  --vt-c-black-bis-soft: hsla(0, 100%, 5%, 0.30);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-bis: var(--vt-c-white-bis);
  --color-background-bis-soft: var(--vt-c-white-bis-soft);

  --color-heading: var(--vt-c-black-bis);
  --color-text: var(--vt-c-black);
  --color-hover: var(--vt-c-black-soft);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-bis: var(--vt-c-black-bis);
    --color-background-bis-soft: var(--vt-c-black-bis-soft);

    --color-heading: var(--vt-c-white);
    --color-text: var(--vt-c-white-bis);
    --color-hover: var(--vt-c-white-soft);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}